:root{
  --bgBtnProgress: #72B078;
  --bgBackground: #D7C0AE;
  --bgBackground2: #EEE3CB;
  --bgFont: #967E76;
  --bgBtnCancel: #B7C4CF;
} 

body {
  background-color: var(--bgBackground2);
  margin: 0px;
  padding: 0px;
}

.navBarColor {
  background-color: var(--bgBackground);
  display: block;
}
