<%- include('partials/header.ejs') %> 
<%- include('partials/navLandingPage.ejs') %> 

  <div class="container-sm">
    <h3>Sobre o ColabBook</h3>
    <p>
      Este trabalho de conclusão de curso tem por finalidade apresentar o 
      desenvolvimento de um site colaborativo, o ColabBook, em que as pessoas tenham 
      a permissão de pesquisar, criar, enviar sugestões de modificações e a incentivar as 
      pessoas a lerem e escreverem os resumos, além de passar para outras leitores os 
      seus conhecimentos sobre a obra, de forma totalmente voluntária.
    </p>
    <p>
      Um resumo de livros é usado para apresentar pontos essenciais, assim como 
      fatos ou ideias principais que foram desenvolvidos no texto, mas mostrados de 
      maneira abreviada. O dicionário Cambridge Dictionary define como uma 
      forma curta com declaração clara, no intuito de mostrar fatos ou ideias principais.
      O resumo pode ser muito importante para pessoas que pretendem ler um livro, 
      ou para quem já leu o livro, mas precisa se lembrar das ideias principais, ajuda a 
      economizar tempo, e aumenta produtividade principalmente para pessoas que 
      estão se preparando para exames como ENEM, vestibular ou outros concursos.
    </p>
    <p>
      Esses resumos podem ser utilizados como uma referência rápida para se preparar 
      para esses exames ou trabalhos, ou para identificar áreas-chave que precisam ser 
      exploradas mais a fundo. Além disso, o resumo tem o intuito de compartilhar ideias 
      e conhecimentos sobre assuntos em que possa ajudar outras pessoas a passarem 
      nas provas.
    </p>  
      De acordo com Lévy (1999) com a aparição das tecnologias de comunicação foi 
      permitida a disseminação de informações, chamada de inteligências coletiva, capaz 
      de compartilhar para toda sociedades a inteligência individual. Para tanto, a 
      tecnologia desempenha um papel fundamental na gestão de resumos de livros, 
      tornando o processo de criação, revisão e compartilhamento de resumos mais 
      eficiente, acessível e seguro.
    </p>
    <p>Desenvolvedora: Angélica Shigematsu</p>
    <p>Contatos: <a class="" href="https://www.linkedin.com/in/angelica-shigematsu/">Linkedin</a></p>
  </div>
  