<%- include('partials/nav.ejs') %> 
<div class="slider">
  <div class="rounded mx-auto d-bsslock blockImage">
    <img src="images/isaura.png" alt="" class="imageCenter">
    <img src="images/dom_casmurro.png" alt="" class="imageCenter">

    <img src="images/capitaes.png" alt="" class="imageCenter">

  <div class="first">
    <img src="images/isaura.png" alt="" class="imageCenter">
  </div>
  </div>

  <div class="btnRadioAuto">
    <input type="radio" class="btnRadio" name="btnRadio"id="radio1">
    <input type="radio" class="btnRadio" name="btnRadio"id="radio2">
    <input type="radio" class="btnRadio" name="btnRadio"id="radio3">
    <input type="radio" class="btnRadio" name="btnRadio"id="radio4"> 
  </div>
</div>
<div class="containerBooks">
  <img src="images/hora_estrela.png" alt="" class="item">
  <img src="images/dom_casmurro.png" alt="" class="item">
  <img src="images/capitaes.png" alt="" class="item">
  <img src="images/isaura.png" alt="" class="item">
</div>
</body>
</html>