<%- include('partials/nav.ejs')  %> 
<%- include('partials/header.ejs') %> 

<% if (error) %> 
    <div class="alert alert-danger"><%= error %> </div>
  <div class="container-sm">
    <form class="mb-3" id="form-login" enctype="application/x-www-form-urlencoded"
      method="POST" action="/login">
      <h3>Cadastro do Autor</h3>
      <div class="mb-3 row">
        <label for="" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" 
            min="3" id="email" 
            placeholder="Clarice Lispector" 
            name="email"/>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="" class="col-sm-2 col-form-label">Senha</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" 
            id="password"
            name="password"/>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btnProgress" type="submit" form="form-login">Login</button>
        <button class="btn btnCancel" type="button">Cadastrar</button>
      </div>
    </form>
  </div>
  
<%- include('partials/footer.ejs') %> 