<%- include('partials/header.ejs') %> 
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Leia os Termos
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <h4>Termo</h4>
    <p>
      A Colab preza pelo bem estar dos usuários, e por isso, qualquer pessoa que tiver acessando e registrar seus dados 
      na plataforma está disposto a receber punições de desativação da conta, caso mostre algum tipo de infração as leis da 
      plataforma.
    </p>
    <p>
      Será banido:
      <li>
        Postar informações com calúnia e diflamação. Aqui na plataforma estamos aberto a comentários e opiniões, mas desde 
        que mantenha o respeito entre os outros usuários.</li>
      <li>
        Postagem com assunto que insita a violência, preconceito e rascismo, pois respeitamos a diversidade e a segurança do 
        usuário.
      </li>

      <li>
      Prezamos que os usuários não postem palavrões, pois é uma plataforma aberta a qualquer idade e prezamos o respeito
      entre as pessoas.
      </li>
    </p>
    <p>
      <h4>Lei de Proteção de dados</h4>
      A Colab tem acesso a todos os dados disponibilizados no cadastros e registros que ocorrem dentro da plataforma.
      Tem como o objetivo manter o site funcionando e manter a segurança com o uso do login. 
      E as leis estão em constante mudança e as regras do uso da plataforma pode ser modificada.
      Ao aceitar permite a Colab ter direitos de acesso a esses dados e registros feitos dentro da plataforma. E as mudanças
      as regras da plataforma.
    </p>
  </div>
</div>
<%- include('partials/footer.ejs') %> 
