<%- include('partials/header.ejs') %> 

<div class="container-sm">
    <form class="mb-3" id="form-volunteer" enctype="application/x-www-form-urlencoded"
      method="POST" action="/usuario">
    <h3>Seja um voluntário ou usuário</h3>
      <div class="mb-3 row">
        <label for="" class="col-sm-2 col-form-label">Nome Completo</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" 
            minlength="3" id="fullName" 
            placeholder="Clarice Lispector" 
            name="fullName"
            required>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-sm-7">
          <label for="" class="col-sm-2 col-form-label">CPF</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" 
              minlength="11" maxlength="11" id="cpf" 
              placeholder="12345678912" 
              name="cpf"
              required>
          </div>
        </div>
        <div class="mb-3 col">
          <label for="" class="col-sm-7 col-form-label">Data de Nascimento</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" 
              id="dateBirthUser"
              name="dateBirthUser"
              required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col">
          <label for="" class="col-sm-4 col-form-label">E-mail</label>
          <div class="col-sm-14">
            <input type="email" class="form-control" 
              min="15" id="email" 
              placeholder="volunteer@gmail.com" 
              name="email"
              required>
          </div>
        </div>
        <div class="mb-3 col">
          <label for="" class="col-sm-4 col-form-label">Senha</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" 
            minlength="8" id="password" 
            name="password"
            required>
          </div>
      </div>
        <select id="level" name="level">
          <option value="Voluntario">Voluntário</option>
          <option value="Usuario">Usuário</option>Usuário</option>
        </select>
      </div>

      <div class="mb-3 row">
        <label for="" class="col-sm-2 col-form-label">Motivo</label>
        <div class="col-sm-10">
          <textarea class="form-control" minlength="30" name="reason" cols="30" rows="10" required></textarea>
        </div>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btnProgress" type="submit" form="form-volunteer">Pedir para entrar</button>
      </div>
    </form>
  </div>
  
<%- include('partials/footer.ejs') %> 