<body>
<nav class="navbar navbar-expand-lg navBarColor">
  <div class="container-fluid">
    <a class="navbar-brand" href="homepage">ColabBook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cadastros
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/autor">Autor</a></li>
            <li><a class="dropdown-item" href="/livro">Livro</a></li>
            <li><a class="dropdown-item" href="/resumo">Resumo</a></li>
            <li><a class="dropdown-item" href="/usuario">Usuário</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Livros
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/usuario/resumo">Resumo</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre</a>
        </li>
      </ul>
      <div class="d-lg-flex justify-content-end col">
        <form action="/search" method="POST">
          <div class="mb-3 row">
            <div class="col-sm-8">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-sm-3">
              <button class="btn btn-outline-success col" form="form-search" type="submit">Search</button>
            </div>
          </div>
        </form>
        <div class="nav-item">
          <form action="/logout"  method="POST">
            <button type="submit" class="btn btn-light">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
